@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.react-datepicker {
    border: 1px solid #ccc; /* Light border */
    border-radius: 8px;     /* Border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: light shadow for better visibility */
  }
/* input::selection {
    background-color: transparent;
    padding-right: 20px;
  } */

/* 
@layer components{
    .button-action {

    }
    .button-action:hover{
        @apply hover: bg-white text-[#004DD7] 
    }
} */