@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: "Open Sans", sans-serif;
}
/* 
@layer components{
    .button-action {

    }
    .button-action:hover{
        @apply hover: bg-white text-[#004DD7] 
    }
} */