@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

/* Disable outline on input active */
input:active {
  outline: none;
}
.react-datepicker {
    border: 1px solid #ccc; /* Light border */
    border-radius: 8px;     /* Border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: light shadow for better visibility */
  }

.inputFieldLabel {
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #505050;
}
.inputFieldValue {
  color: #505050;
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.03125rem */
}

.selectBoxField {
  display: flex;
  width: 17.5625rem;
  height: 1.5rem;
  padding: 0.1875rem 1.25rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.375rem;
  flex-shrink: 0;
  border: 1px solid var(--Border-BorderOpaque, #c6c6c6);
  background: transparent;
}

.selectBoxField > option {
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 0.9375rem !important;
  background: #fdfdfd;
  box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.08);
}
.requiredError {
  color: #cd0000;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}
.inputFieldBorder {
  display: flex;
  height: 1.5rem;
  padding: 0.25rem 2.75rem 0.1875rem 1.25rem;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid#C6C6C6;
  width: 17.5625rem;
}

.inputValidationError {
  color: #cd0000;
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.select-dropdown {
  position: relative;
}

.select-dropdown select {
  width: 100%;
  height: auto;
}
.select-dropdown select option {
  max-height: 150px;
  overflow-y: auto;
}

.select-dropdown select::-webkit-scrollbar {
  width: 12px;
}

.select-dropdown select::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.select-dropdown select::-webkit-scrollbar-thumb {
  background: #888;
}

.select-dropdown select::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */

/* input::selection {
    background-color: transparent;
    padding-right: 20px;
  } */

/* 
@layer components{
    .button-action {

    }
    .button-action:hover{
        @apply hover: bg-white text-[#004DD7] 
    }
} */
